@import "components/chosen/chosen.css";

.postbox {
	*zoom: 1;
	&:before,
	&:after {
	  display: table;
	  content: "";
	  // Fixes Opera/contenteditable bug:
	  // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
	  line-height: 0;
	}
	&:after {
	  clear: both;
	}

	.inside {

	}
}

.atencao {
	color: red;
}

.custom-label-primary {
	width: 14%;
	min-width: auto;
	font-size: 15px;
	float: left;
	position: relative;
	top: 10px;

	&.idiomas {
		width: 34%;
	}
}

.custom-input-primary {
	float: left;
	width: 84%;
	padding: 7px;
	margin-bottom: 8px;

	&.idiomas {
		width: 64%;
	}
}

.custom-checkbox-loop-primary {
	background: white;
	padding: 15px;
	overflow-y: scroll;
	border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid #dfdfdf;
	float: left;
	width: 82%;
	margin-bottom: 8px;
}

.custom-checkbox-single-inline {
	display: block;
	float: left;
	position: relative;
	top: 7px;
	font-size: 15px;
	margin-left: 14%;

	input[type=checkbox] {
		position: relative;
		top: 2px;
	}
}

.custom-checkbox-loop-inline {
	display: block;
	float: left;
	width: 80%;
	margin-bottom: 12px;
	margin-top: 6px;
}

.custom-select-single, .custom-select-loop {
	display: block;
	float: left;
	width: 80%;
	margin-bottom: 12px;
}

.custom-multiselect {
	*zoom: 1;
	&:before,
	&:after {
	  display: table;
	  content: "";
	  // Fixes Opera/contenteditable bug:
	  // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
	  line-height: 0;
	}
	&:after {
	  clear: both;
	}

	.inside {

	}
}

.custom-checkbox-inline {
	display: inline;
	margin-right: 5px;
}

.custom-checkbox-block {
	display: block;
	margin-bottom: 5px;
}

.custom_admin_descricao {
	clear:both;
	font-style: italic;
	color: #777;
	font-size: 11px;
	width: 80%;
	margin-left: 14%;
}

.normal_float {
	display: block;
	float: left;
	position: relative;
	top: 7px;
	font-size: 15px;
	width: 80%;
}

.chzn-container {
	margin-top: 4px;
}
.chzn-choices {
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #dfdfdf;
	padding: 7px 7px 4px;
	background: white;

	.search-field .default {
		padding: 7px 7px 4px !important;
		margin: 4px 0 !important;
	}
}

#submitdiv.destaques {
	text-align: center;
}

.count_down {
	text-align: left;
	font-style: italic;
	color: #777;
	font-size: 11px;
}

.wp_bnd_table {
	width: 100%;
	border: 1px solid #bbb;
	border-collapse: collapse;
	margin: 12px 0 0;

	input[type=text], textarea {
		border: 1px solid #aaa;
		padding: 7px;
		background: white;
		width: 100%;
		margin-bottom: 4px;
		resize: none;
	}

	td {
		border: 1px solid #ddd;
	}

	.imagem {
		width: 100px;
		height: 100px;
		padding: 11px 11px 9px;
		text-align: center;
	}

	.info, .video {
		text-align: center;
		padding: 11px;
	}

	.upload_imagem {
		width: 150px;
		padding: 11px;
		text-align: center;
	}

	.link {
		padding: 11px;
		text-align: center;
	}

	.tipo {
		padding: 11px;
		width: 120px;
	}

	.conteudo_site {
		padding: 11px;

		.custom-select-loop {
			width: 100%;
			margin-bottom: 4px;
		}
	}

	.link_destaque_home {
		padding: 11px;
		width: 70%;

		.custom-select-loop {
			width: 100%;
			margin-bottom: 4px;
		}

		input[type=checkbox] {
			margin-right: 4px;
		}

		.link_texto {
			margin-top: 8px;
			width: 100%;
			display: none;
		}
	}

	.ordem {
		text-align: center;

		input {
			width: 25px;
		}
	}

	.remover {
		text-align: center;
		font-size: 20px;
		width: 95px;

		.remover-button {
			color: #999;
			cursor: pointer;

			&:hover {
				color: #333;
			}
		}
	}
}

.adicionar_mais {
	padding: 7px;
	float: right;
	margin: 20px 0;
}