/*
Theme Name:     Caio Vaccaro
Author:         Caio Vaccaro
Author URI:     http://caiovaccaro.com.br/
Template:       twentytwelve
Version:        1.0
*/


@import "reset.less";
@import "fonts.less";
@import "components/bootstrap/less/variables.less";
@import "components/bootstrap/less/mixins.less";
@import "components/prism/prism.less";

// Colors
@base: #2EADBE;
@grey-light: #EDEDED;
@grey-medium: #CCCCCC;
@grey: #777777;
@grey-dark: #555555;
@black: #333333;
@red: #CC3333;

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}

a {
	text-decoration: none;
	color: @base;

	&:hover {
		color: @black;
	}
}

body {
	font-family: 'motiva_sansregular';
}

.wrapper {
	width: 100%;
	min-width: 960px;
}

#logo {
	font-family: 'motiva_sans_thinregular';
	font-weight: normal;
	font-size: 23px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	margin: 18px 0 0 20px;
	position: relative;

	a {
		color: @grey-dark;
	}
}

#left {
	padding-left: 0;
	width: 264px;
	float: left;
}

#site-navigation-mouse {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 198px;

	&.active, &.provisory {
		display: block;
	}
}

#site-navigation {
	display: none;
	position: absolute;
	top: 0;
	width: 198px;
	padding-top: 79px;
	border-right: 1px solid @grey-medium;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			border-bottom: 1px solid @grey-light;

			&.current_page_item {
				border-bottom: 2px solid @base;
			}

			a {
				color: @grey;
				font-size: 12px;
				font-family: 'motiva_sans_lightregular';
				text-transform: lowercase;
				padding: 11px 0 6px 20px;
				display: block;

				&:hover {
					color: @grey-medium;
				}
			}
		}
	}
}

#main {
	width: 72.38494%;
	float: left;

	.content {
		padding-top: 100px;
		padding-left: 60px;

		&#home {
			padding-top: 60px;
			padding-left: 6px;
		}
	}

	#home {
		padding-bottom: 60px;

		.project {
			.cover {
				background-color: @base;
				.transition(all .1s);

				&:hover {
					opacity: 0.7;
					.transition(all .1s);
				}

				a {
					display: block;
				}
			}

			.title {
				font-size: 14px;
				font-family: 'motiva_sans_boldregular';
				font-weight: normal;
				margin-bottom: 5px;
			}

			p {
				margin-top: 0;
				font-size: 12px;
			}

			a {
				color: black;

				&:hover {
					color: #777;
				}
			}
		}

		.w1 {
			width: 310px;

			.cover {
				width: 310px;
				height: 423px;

				a {
					width: 310px;
					height: 423px;
				}
			}
		}

		.w2 {
			width: 310px;

			.cover {
				width: 310px;
				height: 310px;

				a {
					width: 310px;
					height: 310px;
				}
			}
		}
	}

	#projeto {
		.clearfix;
		width: 635px;

		h2 {
			font-size: 21px;
			float: left;
			margin: 0;
		}

		.data {
			float: left;
			font-size: 13px;
			font-family: 'motiva_sans_thinregular';
			-webkit-font-smoothing: antialiased;
			position: relative;
			top: 6px;
			left: 6px;
		}

		.social {
			float: right;
			position: relative;
			top: 4px;
			right: 2px;
		}

		#header {
			.clearfix;
			max-height: 29px;
		}

		#featured_img {
			clear: both;
			margin-top: 15px;
		}

		#projeto_content {
			font-size: 14px;
			line-height: 19px;
			margin-top: 3px;
			margin-bottom: 60px;
			font-family: 'motiva_sans_lightregular';
			.clearfix;

			.kmp2 {
                position:relative;
                top:50px;
            }
            .bndp1 {
                position:relative;
                top:10px;
                padding-bottom: 15px;
            }
            .guiap1 {
                position:relative;
                top:40px;
            }
            .bndp2 {
                position:relative;
                top:40px;
            }
            .tumblr {
                position:relative;
                top:40px;
            }
            .guiap2 {
                position:relative;
                top:40px;
            }
            .bndp3 {
                position:relative;
                top:40px;
            }
            .line {
                height:1px;
                border-bottom:1px dotted #ccc;
                width:629px;
                margin:10px 0;
                clear:both;
                .clearfix;
            }
            b {
                font-family:'motiva_sans_boldregular';
                display:block;
                margin:30px 0 7px;
                font-weight:normal;
            }
            .guiap3 {
                position:relative;
                top:15px;
            }
            .bndp4 {
                position:relative;
                top:40px;
            }
            img {
                margin-right:6px;
            }
            .bbp1 {
                position:relative;
                top:45px;
            }
            .guiap4 {
                margin:50px 0;
            }
            .bndp5 {
                position:relative;
                top:60px;
            }
            .bbp2 {
                margin:25px 0 35px;
            }
            .bbp3 {
                position:relative;
                top:25px;
            }
            .viamiaintro {
                margin:10px 0 25px;
            }
            .viamiap1 {
                position:relative;
                top:20px;
            }
            img.nomr {
                margin-right:0;
            }
            .line:after {
                clear:both;
            }
            .viamiap2 {
                position:relative;
                top:20px;
            }
            .alignright {
                float:right;
                margin-left:22px;
                margin-bottom:13px;
            }
            .alignleft {
                float:left;
                margin-right:22px;
                margin-bottom:13px;
            }
		}
	}

	#contact {
		font-family: 'motiva_sans_thinregular';
		-webkit-font-smoothing: antialiased;
		font-size: 25px;
		width: 630px;

		p {
			line-height: 46px;
			margin: 0;
		}

		.myname {
			color: #bbb;
			position: relative;
			bottom: -2px;
		}

		textarea:focus, input:focus{
		    outline: 0;
		}

		input {
			display: inline-block;
			border: 0;
			.box-shadow(none);
			padding: 0;
			.border-radius(0);
			border-bottom: 2px solid #A3DBE2;
			font-family: 'motiva_sans_thinregular';
			-webkit-font-smoothing: antialiased;
			height: 29px;

			&#name {
				width: 116px;
			}

			&#email {
				width: 238px;
			}

			&#subject {
				width: 276px;
			}
		}

		textarea {
			resize: none;
			display: inline-block;
			border: 0;
			.box-shadow(none);
			.border-radius(0);
			border-bottom: 2px solid #D8F0F3;
			font-family: 'motiva_sans_thinregular';
			-webkit-font-smoothing: antialiased;
			height: 33px;
			width: 611px;
			font-size: 25px;
			line-height: 27px;
			padding: 0;
			padding-top: 15px;
		}

		.ops {
			border-color: lighten(@red, 30%);
		}

		.bottom {
			margin-top: 40px;
		}

		button {
			display: block;
			width: 110px;
			padding: 3px 0;
			background-color: black;
			border: 0;
			height: 34px;
			float: left;
			font-family: 'motiva_sans_lightregular';
			-webkit-font-smoothing: antialiased;
			color: white;
			font-size: 20px;
			text-align: left;
			.transition(all .1s);
			.clearfix;

			span {
				position: relative;
				top: 1px;
				display: block;
				float: left;

				&.enviando {
					margin-left: 12px;
				}
			}

			i {
				float: left;
				display: block;
				margin: 0 12px 0 8px;
				position: relative;
				top: 7px;
				font-size: 22px;
				line-height: 20px;

				&.notext {
					top: 3px;
				}
			}

			&:hover {
				opacity: 0.7;
				.transition(all .1s);
			}
		}

		.thanks {
			display: none;
			float: left;
			position: relative;
			left: 15px;
			top: 8px;

			p {
				margin: 0;
				font-size: 20px;
				color: @base;
				line-height: 20px;
			}
		}

		.validation {
			display: none;
			clear: both;
			color: @red;
			font-size: 20px;
			padding-top: 1px;
			font-size: 18px;

			p {
				margin-top: 12px;
			}
		}
	}

	#resume {
		font-size: 12px;
		padding-bottom: 60px;
		width: 630px;

		.top {
			.img {
				width: 273px;
				height: 310px;
				background-image: url(images/caio.jpg);
				background-position: center;
				background-repeat: no-repeat;
				float: left;
			}

			.text {
				float: left;
				padding: 140px 0 10px 25px;

				i {
					display: inline-block;
					margin: 3px 4px 0 0;
					font-size: 20px;
					color: @base;
				}
			}
		}

		.middle {
			clear: both;
			padding-top: 40px;

			h2 {
				font-size: 12px;
				font-weight: normal;
				font-family: 'motiva_sans_boldregular';
				margin-top: 30px;
				margin-bottom: 7px;
			}

			p {
				font-size: 13px;
				margin: 5px 0;
			}
		}
	}
}

#fly {
	width: 47px;
	height: 46px;
	position: fixed;
	bottom: 13px;
	right: 13px;
	background-color: black;
	cursor: pointer;
	.transition(all .1s);

	&:hover {
		opacity: 0.8;
		.transition(all .1s);
	}

	a {
		position: absolute;
		width: 46px;
		height: 46px;
	}

	i {
		color: white;
		font-size: 24px;
		position: relative;
		top: 9px;
		left: 12px;
		cursor: pointer;
	}
}

.touch {
	#fly {
		display: none;
	}
}