/*
Theme Name:     Caio Vaccaro
Author:         Caio Vaccaro
Author URI:     http://caiovaccaro.com.br/
Template:       twentytwelve
Version:        1.0
*/
/*! normalize.css v1.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */

  -ms-text-size-adjust: 100%;
  /* 2 */

  -webkit-text-size-adjust: 100%;
  /* 2 */

}
/**
 * Address `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
/**
 * Address margins handled incorrectly in IE 6/7.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address font sizes and margins set differently in IE 6/7.
 * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}
/**
 * Address styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 6/7 normalization.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Address styling not present in IE 6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address margins set differently in IE 6/7.
 */
p,
pre {
  margin: 1em 0;
}
/**
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/**
 * Address CSS quotes not supported in IE 6/7.
 */
q {
  quotes: none;
}
/**
 * Address `quotes` property not supported in Safari 4.
 */
q:before,
q:after {
  content: '';
  content: none;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
/**
 * Address paddings set differently in IE 6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
/**
 * Correct list images handled incorrectly in IE 7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */

  -ms-interpolation-mode: bicubic;
  /* 2 */

}
/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */

  padding: 0;
  white-space: normal;
  /* 2 */

  *margin-left: -7px;
  /* 3 */

}
/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */

  margin: 0;
  /* 2 */

  vertical-align: baseline;
  /* 3 */

  *vertical-align: middle;
  /* 3 */

}
/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */

  cursor: pointer;
  /* 3 */

  *overflow: visible;
  /* 4 */

}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */

  padding: 0;
  /* 2 */

  *height: 13px;
  /* 3 */

  *width: 13px;
  /* 3 */

}
/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */

  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */

  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */

  vertical-align: top;
  /* 2 */

}
/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222;
}
body {
  font-size: 1em;
  line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */

  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.clearfix:after {
  clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
  
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
       * Don't show links for images, or javascript/internal links
       */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on November 16, 2012 */
@font-face {
  font-family: 'motiva_sans_boldregular';
  src: url('fonts/motivasans-bold-webfont.eot');
  src: url('fonts/motivasans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/motivasans-bold-webfont.woff') format('woff'), url('fonts/motivasans-bold-webfont.ttf') format('truetype'), url('fonts/motivasans-bold-webfont.svg#motiva_sans_boldregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'motiva_sans_lightregular';
  src: url('fonts/motivasans-light-webfont.eot');
  src: url('fonts/motivasans-light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/motivasans-light-webfont.woff') format('woff'), url('fonts/motivasans-light-webfont.ttf') format('truetype'), url('fonts/motivasans-light-webfont.svg#motiva_sans_lightregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'motiva_sans_lightitalic';
  src: url('fonts/motivasans-lightitalic-webfont.eot');
  src: url('fonts/motivasans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/motivasans-lightitalic-webfont.woff') format('woff'), url('fonts/motivasans-lightitalic-webfont.ttf') format('truetype'), url('fonts/motivasans-lightitalic-webfont.svg#motiva_sans_lightitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'motiva_sansregular';
  src: url('fonts/motivasans-regular-webfont.eot');
  src: url('fonts/motivasans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/motivasans-regular-webfont.woff') format('woff'), url('fonts/motivasans-regular-webfont.ttf') format('truetype'), url('fonts/motivasans-regular-webfont.svg#motiva_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'motiva_sans_thinregular';
  src: url('fonts/motivasans-thin-webfont.eot');
  src: url('fonts/motivasans-thin-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/motivasans-thin-webfont.woff') format('woff'), url('fonts/motivasans-thin-webfont.ttf') format('truetype'), url('fonts/motivasans-thin-webfont.svg#motiva_sans_thinregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*
* Symbolset
* www.symbolset.com
* Copyright © 2012 Oak Studios LLC
*
* Upload this file to your web server
* and place this within your <head> tags.
* <link href="webfonts/ss-standard.css" rel="stylesheet" />
*/
@font-face {
  font-family: "SSStandard";
  src: url('fonts/ss-standard.eot');
  src: url('fonts/ss-standard.eot?#iefix') format('embedded-opentype'), url('fonts/ss-standard.woff') format('woff'), url('fonts/ss-standard.ttf') format('truetype'), url('fonts/ss-standard.svg#SSStandard') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* This triggers a redraw in IE to Fix IE8's :before content rendering. */
html:hover .ss-icon {
  -ms-zoom: 1;
}
.ss-icon,
.ss-icon.ss-standard,
.ss-icon:before,
.ss-icon.ss-standard:before,
.ss-icon.right:after,
.ss-icon.ss-standard.right:after {
  font-family: "SSStandard";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  /*-webkit-font-feature-settings: "liga"; Currently broken in Chrome >= v22. Falls back to text-rendering. Safari is unaffected. */

  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}
.ss-icon.right:before,
.ss-icon.right:before {
  display: none;
  content: '';
}
.ss-cursor:before,
.ss-cursor.right:after {
  content: '';
}
.ss-crosshair:before,
.ss-crosshair.right:after {
  content: '⌖';
}
.ss-search:before,
.ss-search.right:after {
  content: '🔎';
}
.ss-zoomin:before,
.ss-zoomin.right:after {
  content: '';
}
.ss-zoomout:before,
.ss-zoomout.right:after {
  content: '';
}
.ss-view:before,
.ss-view.right:after {
  content: '👀';
}
.ss-attach:before,
.ss-attach.right:after {
  content: '📎';
}
.ss-link:before,
.ss-link.right:after {
  content: '🔗';
}
.ss-move:before,
.ss-move.right:after {
  content: '';
}
.ss-write:before,
.ss-write.right:after {
  content: '✎';
}
.ss-writingdisabled:before,
.ss-writingdisabled.right:after {
  content: '';
}
.ss-erase:before,
.ss-erase.right:after {
  content: '✐';
}
.ss-compose:before,
.ss-compose.right:after {
  content: '📝';
}
.ss-lock:before,
.ss-lock.right:after {
  content: '🔒';
}
.ss-unlock:before,
.ss-unlock.right:after {
  content: '🔓';
}
.ss-key:before,
.ss-key.right:after {
  content: '🔑';
}
.ss-backspace:before,
.ss-backspace.right:after {
  content: '⌫';
}
.ss-ban:before,
.ss-ban.right:after {
  content: '🚫';
}
.ss-trash:before,
.ss-trash.right:after {
  content: '';
}
.ss-target:before,
.ss-target.right:after {
  content: '◎';
}
.ss-tag:before,
.ss-tag.right:after {
  content: '';
}
.ss-bookmark:before,
.ss-bookmark.right:after {
  content: '🔖';
}
.ss-flag:before,
.ss-flag.right:after {
  content: '⚑';
}
.ss-like:before,
.ss-like.right:after {
  content: '👍';
}
.ss-dislike:before,
.ss-dislike.right:after {
  content: '👎';
}
.ss-heart:before,
.ss-heart.right:after {
  content: '♥';
}
.ss-halfheart:before,
.ss-halfheart.right:after {
  content: '';
}
.ss-star:before,
.ss-star.right:after {
  content: '⋆';
}
.ss-halfstar:before,
.ss-halfstar.right:after {
  content: '';
}
.ss-sample:before,
.ss-sample.right:after {
  content: '';
}
.ss-crop:before,
.ss-crop.right:after {
  content: '';
}
.ss-layers:before,
.ss-layers.right:after {
  content: '';
}
.ss-fill:before,
.ss-fill.right:after {
  content: '';
}
.ss-stroke:before,
.ss-stroke.right:after {
  content: '';
}
.ss-phone:before,
.ss-phone.right:after {
  content: '📞';
}
.ss-phonedisabled:before,
.ss-phonedisabled.right:after {
  content: '';
}
.ss-rss:before,
.ss-rss.right:after {
  content: '';
}
.ss-facetime:before,
.ss-facetime.right:after {
  content: '';
}
.ss-reply:before,
.ss-reply.right:after {
  content: '↩';
}
.ss-send:before,
.ss-send.right:after {
  content: '';
}
.ss-mail:before,
.ss-mail.right:after {
  content: '✉';
}
.ss-inbox:before,
.ss-inbox.right:after {
  content: '📥';
}
.ss-chat:before,
.ss-chat.right:after {
  content: '💬';
}
.ss-ellipsischat:before,
.ss-ellipsischat.right:after {
  content: '';
}
.ss-ellipsis:before,
.ss-ellipsis.right:after {
  content: '…';
}
.ss-user:before,
.ss-user.right:after {
  content: '👤';
}
.ss-femaleuser:before,
.ss-femaleuser.right:after {
  content: '👧';
}
.ss-users:before,
.ss-users.right:after {
  content: '👥';
}
.ss-cart:before,
.ss-cart.right:after {
  content: '';
}
.ss-creditcard:before,
.ss-creditcard.right:after {
  content: '💳';
}
.ss-dollarsign:before,
.ss-dollarsign.right:after {
  content: '💲';
}
.ss-barchart:before,
.ss-barchart.right:after {
  content: '📊';
}
.ss-piechart:before,
.ss-piechart.right:after {
  content: '';
}
.ss-box:before,
.ss-box.right:after {
  content: '📦';
}
.ss-home:before,
.ss-home.right:after {
  content: '⌂';
}
.ss-buildings:before,
.ss-buildings.right:after {
  content: '🏢';
}
.ss-warehouse:before,
.ss-warehouse.right:after {
  content: '';
}
.ss-globe:before,
.ss-globe.right:after {
  content: '🌎';
}
.ss-navigate:before,
.ss-navigate.right:after {
  content: '';
}
.ss-compass:before,
.ss-compass.right:after {
  content: '';
}
.ss-signpost:before,
.ss-signpost.right:after {
  content: '';
}
.ss-map:before,
.ss-map.right:after {
  content: '';
}
.ss-location:before,
.ss-location.right:after {
  content: '';
}
.ss-pin:before,
.ss-pin.right:after {
  content: '📍';
}
.ss-database:before,
.ss-database.right:after {
  content: '';
}
.ss-hdd:before,
.ss-hdd.right:after {
  content: '';
}
.ss-music:before,
.ss-music.right:after {
  content: '♫';
}
.ss-mic:before,
.ss-mic.right:after {
  content: '🎤';
}
.ss-volume:before,
.ss-volume.right:after {
  content: '🔈';
}
.ss-lowvolume:before,
.ss-lowvolume.right:after {
  content: '🔉';
}
.ss-highvolume:before,
.ss-highvolume.right:after {
  content: '🔊';
}
.ss-airplay:before,
.ss-airplay.right:after {
  content: '';
}
.ss-camera:before,
.ss-camera.right:after {
  content: '📷';
}
.ss-picture:before,
.ss-picture.right:after {
  content: '🌄';
}
.ss-video:before,
.ss-video.right:after {
  content: '📹';
}
.ss-play:before,
.ss-play.right:after {
  content: '▶';
}
.ss-pause:before,
.ss-pause.right:after {
  content: '';
}
.ss-stop:before,
.ss-stop.right:after {
  content: '■';
}
.ss-record:before,
.ss-record.right:after {
  content: '●';
}
.ss-rewind:before,
.ss-rewind.right:after {
  content: '⏪';
}
.ss-fastforward:before,
.ss-fastforward.right:after {
  content: '⏩';
}
.ss-skipback:before,
.ss-skipback.right:after {
  content: '⏮';
}
.ss-skipforward:before,
.ss-skipforward.right:after {
  content: '⏭';
}
.ss-eject:before,
.ss-eject.right:after {
  content: '⏏';
}
.ss-repeat:before,
.ss-repeat.right:after {
  content: '🔁';
}
.ss-replay:before,
.ss-replay.right:after {
  content: '↺';
}
.ss-shuffle:before,
.ss-shuffle.right:after {
  content: '🔀';
}
.ss-book:before,
.ss-book.right:after {
  content: '📕';
}
.ss-openbook:before,
.ss-openbook.right:after {
  content: '📖';
}
.ss-notebook:before,
.ss-notebook.right:after {
  content: '📓';
}
.ss-newspaper:before,
.ss-newspaper.right:after {
  content: '📰';
}
.ss-grid:before,
.ss-grid.right:after {
  content: '';
}
.ss-rows:before,
.ss-rows.right:after {
  content: '';
}
.ss-columns:before,
.ss-columns.right:after {
  content: '';
}
.ss-thumbnails:before,
.ss-thumbnails.right:after {
  content: '';
}
.ss-filter:before,
.ss-filter.right:after {
  content: '';
}
.ss-desktop:before,
.ss-desktop.right:after {
  content: '💻';
}
.ss-laptop:before,
.ss-laptop.right:after {
  content: '';
}
.ss-tablet:before,
.ss-tablet.right:after {
  content: '';
}
.ss-cell:before,
.ss-cell.right:after {
  content: '📱';
}
.ss-battery:before,
.ss-battery.right:after {
  content: '🔋';
}
.ss-highbattery:before,
.ss-highbattery.right:after {
  content: '';
}
.ss-mediumbattery:before,
.ss-mediumbattery.right:after {
  content: '';
}
.ss-lowbattery:before,
.ss-lowbattery.right:after {
  content: '';
}
.ss-emptybattery:before,
.ss-emptybattery.right:after {
  content: '';
}
.ss-lightbulb:before,
.ss-lightbulb.right:after {
  content: '💡';
}
.ss-downloadcloud:before,
.ss-downloadcloud.right:after {
  content: '';
}
.ss-download:before,
.ss-download.right:after {
  content: '';
}
.ss-uploadcloud:before,
.ss-uploadcloud.right:after {
  content: '';
}
.ss-upload:before,
.ss-upload.right:after {
  content: '';
}
.ss-fork:before,
.ss-fork.right:after {
  content: '';
}
.ss-merge:before,
.ss-merge.right:after {
  content: '';
}
.ss-transfer:before,
.ss-transfer.right:after {
  content: '⇆';
}
.ss-refresh:before,
.ss-refresh.right:after {
  content: '↻';
}
.ss-sync:before,
.ss-sync.right:after {
  content: '';
}
.ss-loading:before,
.ss-loading.right:after {
  content: '';
}
.ss-wifi:before,
.ss-wifi.right:after {
  content: '';
}
.ss-connection:before,
.ss-connection.right:after {
  content: '';
}
.ss-file:before,
.ss-file.right:after {
  content: '📄';
}
.ss-folder:before,
.ss-folder.right:after {
  content: '📁';
}
.ss-quote:before,
.ss-quote.right:after {
  content: '“';
}
.ss-text:before,
.ss-text.right:after {
  content: '';
}
.ss-font:before,
.ss-font.right:after {
  content: '';
}
.ss-print:before,
.ss-print.right:after {
  content: '⎙';
}
.ss-fax:before,
.ss-fax.right:after {
  content: '📠';
}
.ss-list:before,
.ss-list.right:after {
  content: '';
}
.ss-layout:before,
.ss-layout.right:after {
  content: '';
}
.ss-action:before,
.ss-action.right:after {
  content: '';
}
.ss-redirect:before,
.ss-redirect.right:after {
  content: '↪';
}
.ss-expand:before,
.ss-expand.right:after {
  content: '⤢';
}
.ss-contract:before,
.ss-contract.right:after {
  content: '';
}
.ss-help:before,
.ss-help.right:after {
  content: '❓';
}
.ss-info:before,
.ss-info.right:after {
  content: 'ℹ';
}
.ss-alert:before,
.ss-alert.right:after {
  content: '⚠';
}
.ss-caution:before,
.ss-caution.right:after {
  content: '⛔';
}
.ss-logout:before,
.ss-logout.right:after {
  content: '';
}
.ss-plus:before,
.ss-plus.right:after {
  content: '+';
}
.ss-hyphen:before,
.ss-hyphen.right:after {
  content: '-';
}
.ss-check:before,
.ss-check.right:after {
  content: '✓';
}
.ss-delete:before,
.ss-delete.right:after {
  content: '␡';
}
.ss-settings:before,
.ss-settings.right:after {
  content: '⚙';
}
.ss-dashboard:before,
.ss-dashboard.right:after {
  content: '';
}
.ss-notifications:before,
.ss-notifications.right:after {
  content: '🔔';
}
.ss-notificationsdisabled:before,
.ss-notificationsdisabled.right:after {
  content: '🔕';
}
.ss-clock:before,
.ss-clock.right:after {
  content: '⏲';
}
.ss-stopwatch:before,
.ss-stopwatch.right:after {
  content: '⏱';
}
.ss-calendar:before,
.ss-calendar.right:after {
  content: '📅';
}
.ss-addcalendar:before,
.ss-addcalendar.right:after {
  content: '';
}
.ss-removecalendar:before,
.ss-removecalendar.right:after {
  content: '';
}
.ss-checkcalendar:before,
.ss-checkcalendar.right:after {
  content: '';
}
.ss-deletecalendar:before,
.ss-deletecalendar.right:after {
  content: '';
}
.ss-briefcase:before,
.ss-briefcase.right:after {
  content: '💼';
}
.ss-cloud:before,
.ss-cloud.right:after {
  content: '☁';
}
.ss-droplet:before,
.ss-droplet.right:after {
  content: '💧';
}
.ss-flask:before,
.ss-flask.right:after {
  content: '';
}
.ss-up:before,
.ss-up.right:after {
  content: '⬆';
}
.ss-upright:before,
.ss-upright.right:after {
  content: '⬈';
}
.ss-right:before,
.ss-right.right:after {
  content: '➡';
}
.ss-downright:before,
.ss-downright.right:after {
  content: '⬊';
}
.ss-down:before,
.ss-down.right:after {
  content: '⬇';
}
.ss-downleft:before,
.ss-downleft.right:after {
  content: '⬋';
}
.ss-left:before,
.ss-left.right:after {
  content: '⬅';
}
.ss-upleft:before,
.ss-upleft.right:after {
  content: '⬉';
}
.ss-navigateup:before,
.ss-navigateup.right:after {
  content: '';
}
.ss-navigateright:before,
.ss-navigateright.right:after {
  content: '▻';
}
.ss-navigatedown:before,
.ss-navigatedown.right:after {
  content: '';
}
.ss-navigateleft:before,
.ss-navigateleft.right:after {
  content: '◅';
}
.ss-directup:before,
.ss-directup.right:after {
  content: '▴';
}
.ss-directright:before,
.ss-directright.right:after {
  content: '▹';
}
.ss-dropdown:before,
.ss-dropdown.right:after {
  content: '▾';
}
.ss-directleft:before,
.ss-directleft.right:after {
  content: '◃';
}
.ss-retweet:before,
.ss-retweet.right:after {
  content: '';
}
/* Legacy classes */
.ss-volumelow:before,
.ss-volumelow.right:after {
  content: '🔉';
}
.ss-volumehigh:before,
.ss-volumehigh.right:after {
  content: '🔊';
}
.ss-batteryhigh:before,
.ss-batteryhigh.right:after {
  content: '';
}
.ss-batterymedium:before,
.ss-batterymedium.right:after {
  content: '';
}
.ss-batterylow:before,
.ss-batterylow.right:after {
  content: '';
}
.ss-batteryempty:before,
.ss-batteryempty.right:after {
  content: '';
}
.ss-clouddownload:before,
.ss-clouddownload.right:after {
  content: '';
}
.ss-cloudupload:before,
.ss-cloudupload.right:after {
  content: '';
}
.ss-calendaradd:before,
.ss-calendaradd.right:after {
  content: '';
}
.ss-calendarremove:before,
.ss-calendarremove.right:after {
  content: '';
}
.ss-calendarcheck:before,
.ss-calendarcheck.right:after {
  content: '';
}
.ss-calendardelete:before,
.ss-calendardelete.right:after {
  content: '';
}
/*
* Symbolset
* www.symbolset.com
* Copyright © 2013 Oak Studios LLC
*
* Upload this file to your web server
* and place this within your <head> tags.
* <link href="webfonts/ss-social-regular.css" rel="stylesheet" />
*/
@font-face {
  font-family: "SSSocialRegular";
  src: url('fonts/ss-social-regular.eot');
  src: url('fonts/ss-social-regular.eot?#iefix') format('embedded-opentype'), url('fonts/ss-social-regular.woff') format('woff'), url('fonts/ss-social-regular.ttf') format('truetype'), url('fonts/ss-social-regular.svg#SSSocialRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* This triggers a redraw in IE to Fix IE8's :before content rendering. */
html:hover [class^="ss-"] {
  -ms-zoom: 1;
}
.ss-icon,
.ss-icon.ss-social-regular,
[class^="ss-"]:before,
[class*=" ss-"]:before,
[class^="ss-"].ss-social-regular:before,
[class*=" ss-"].ss-social-regular:before,
[class^="ss-"].right:after,
[class*=" ss-"].right:after,
[class^="ss-"].ss-social-regular.right:after,
[class*=" ss-"].ss-social-regular.right:after {
  font-family: "SSSocialRegular";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  /*-webkit-font-feature-settings: "liga"; Currently broken in Chrome >= v22. Falls back to text-rendering. Safari is unaffected. */

  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}
[class^="ss-"].right:before,
[class*=" ss-"].right:before {
  display: none;
  content: '';
}
.ss-facebook:before,
.ss-facebook.right:after {
  content: '';
}
.ss-twitter:before,
.ss-twitter.right:after {
  content: '';
}
.ss-linkedin:before,
.ss-linkedin.right:after {
  content: '';
}
.ss-googleplus:before,
.ss-googleplus.right:after {
  content: '';
}
.ss-appdotnet:before,
.ss-appdotnet.right:after {
  content: '';
}
.ss-zerply:before,
.ss-zerply.right:after {
  content: '';
}
.ss-reddit:before,
.ss-reddit.right:after {
  content: '';
}
.ss-steam:before,
.ss-steam.right:after {
  content: '';
}
.ss-tumblr:before,
.ss-tumblr.right:after {
  content: '';
}
.ss-wordpress:before,
.ss-wordpress.right:after {
  content: '';
}
.ss-blogger:before,
.ss-blogger.right:after {
  content: '';
}
.ss-posterous:before,
.ss-posterous.right:after {
  content: '';
}
.ss-quora:before,
.ss-quora.right:after {
  content: '';
}
.ss-youtube:before,
.ss-youtube.right:after {
  content: '';
}
.ss-vimeo:before,
.ss-vimeo.right:after {
  content: '';
}
.ss-vine:before,
.ss-vine.right:after {
  content: '';
}
.ss-letterboxd:before,
.ss-letterboxd.right:after {
  content: '';
}
.ss-flickr:before,
.ss-flickr.right:after {
  content: '';
}
.ss-instagram:before,
.ss-instagram.right:after {
  content: '';
}
.ss-500px:before,
.ss-500px.right:after {
  content: '';
}
.ss-etsy:before,
.ss-etsy.right:after {
  content: '';
}
.ss-pinterest:before,
.ss-pinterest.right:after {
  content: '';
}
.ss-svpply:before,
.ss-svpply.right:after {
  content: '';
}
.ss-readmill:before,
.ss-readmill.right:after {
  content: '';
}
.ss-dropbox:before,
.ss-dropbox.right:after {
  content: '';
}
.ss-pinboard:before,
.ss-pinboard.right:after {
  content: '';
}
.ss-delicious:before,
.ss-delicious.right:after {
  content: '';
}
.ss-dribbble:before,
.ss-dribbble.right:after {
  content: '';
}
.ss-behance:before,
.ss-behance.right:after {
  content: '';
}
.ss-github:before,
.ss-github.right:after {
  content: '';
}
.ss-octocat:before,
.ss-octocat.right:after {
  content: '';
}
.ss-stackoverflow:before,
.ss-stackoverflow.right:after {
  content: '';
}
.ss-paypal:before,
.ss-paypal.right:after {
  content: '';
}
.ss-kickstarter:before,
.ss-kickstarter.right:after {
  content: '';
}
.ss-foursquare:before,
.ss-foursquare.right:after {
  content: '';
}
.ss-yelp:before,
.ss-yelp.right:after {
  content: '';
}
.ss-skype:before,
.ss-skype.right:after {
  content: '';
}
.ss-rdio:before,
.ss-rdio.right:after {
  content: '';
}
.ss-spotify:before,
.ss-spotify.right:after {
  content: '';
}
.ss-lastfm:before,
.ss-lastfm.right:after {
  content: '';
}
.ss-soundcloud:before,
.ss-soundcloud.right:after {
  content: '';
}
.ss-link:before,
.ss-link.right:after {
  content: '🔗';
}
.ss-phone:before,
.ss-phone.right:after {
  content: '📞';
}
.ss-mail:before,
.ss-mail.right:after {
  content: '✉';
}
.ss-like:before,
.ss-like.right:after {
  content: '👍';
}
.ss-rss:before,
.ss-rss.right:after {
  content: '';
}
.ss-share:before,
.ss-share.right:after {
  content: '';
}
.ss-apple:before,
.ss-apple.right:after {
  content: '';
}
.ss-microsoft:before,
.ss-microsoft.right:after {
  content: '';
}
.ss-windows:before,
.ss-windows.right:after {
  content: '';
}
.ss-android:before,
.ss-android.right:after {
  content: '';
}
.ss-blackberry:before,
.ss-blackberry.right:after {
  content: '';
}
/* Legacy */
.ss-fivehundredpx:before,
.ss-fivehundredpx.right:after {
  content: '';
}
/*
* Symbolset
* www.symbolset.com
* Copyright © 2013 Oak Studios LLC
*
* Upload this file to your web server
* and place this within your <head> tags.
* <link href="webfonts/ss-social-circle.css" rel="stylesheet" />
*/
@font-face {
  font-family: "SSSocialCircle";
  src: url('fonts/ss-social-circle.eot');
  src: url('fonts/ss-social-circle.eot?#iefix') format('embedded-opentype'), url('fonts/ss-social-circle.woff') format('woff'), url('fonts/ss-social-circle.ttf') format('truetype'), url('fonts/ss-social-circle.svg#SSSocialCircle') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* This triggers a redraw in IE to Fix IE8's :before content rendering. */
html:hover [class^="ss-"] {
  -ms-zoom: 1;
}
.ss-icon,
.ss-icon.ss-social-circle,
[class^="ss-"]:before,
[class*=" ss-"]:before,
[class^="ss-"].ss-social-circle:before,
[class*=" ss-"].ss-social-circle:before,
[class^="ss-"].right:after,
[class*=" ss-"].right:after,
[class^="ss-"].ss-social-circle.right:after,
[class*=" ss-"].ss-social-circle.right:after {
  font-family: "SSSocialCircle";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  /*-webkit-font-feature-settings: "liga"; Currently broken in Chrome >= v22. Falls back to text-rendering. Safari is unaffected. */

  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}
[class^="ss-"].right:before,
[class*=" ss-"].right:before {
  display: none;
  content: '';
}
.ss-facebook:before,
.ss-facebook.right:after {
  content: '';
}
.ss-twitter:before,
.ss-twitter.right:after {
  content: '';
}
.ss-linkedin:before,
.ss-linkedin.right:after {
  content: '';
}
.ss-googleplus:before,
.ss-googleplus.right:after {
  content: '';
}
.ss-appdotnet:before,
.ss-appdotnet.right:after {
  content: '';
}
.ss-zerply:before,
.ss-zerply.right:after {
  content: '';
}
.ss-reddit:before,
.ss-reddit.right:after {
  content: '';
}
.ss-steam:before,
.ss-steam.right:after {
  content: '';
}
.ss-tumblr:before,
.ss-tumblr.right:after {
  content: '';
}
.ss-wordpress:before,
.ss-wordpress.right:after {
  content: '';
}
.ss-blogger:before,
.ss-blogger.right:after {
  content: '';
}
.ss-posterous:before,
.ss-posterous.right:after {
  content: '';
}
.ss-quora:before,
.ss-quora.right:after {
  content: '';
}
.ss-youtube:before,
.ss-youtube.right:after {
  content: '';
}
.ss-vimeo:before,
.ss-vimeo.right:after {
  content: '';
}
.ss-vine:before,
.ss-vine.right:after {
  content: '';
}
.ss-letterboxd:before,
.ss-letterboxd.right:after {
  content: '';
}
.ss-flickr:before,
.ss-flickr.right:after {
  content: '';
}
.ss-instagram:before,
.ss-instagram.right:after {
  content: '';
}
.ss-500px:before,
.ss-500px.right:after {
  content: '';
}
.ss-etsy:before,
.ss-etsy.right:after {
  content: '';
}
.ss-pinterest:before,
.ss-pinterest.right:after {
  content: '';
}
.ss-svpply:before,
.ss-svpply.right:after {
  content: '';
}
.ss-readmill:before,
.ss-readmill.right:after {
  content: '';
}
.ss-dropbox:before,
.ss-dropbox.right:after {
  content: '';
}
.ss-pinboard:before,
.ss-pinboard.right:after {
  content: '';
}
.ss-delicious:before,
.ss-delicious.right:after {
  content: '';
}
.ss-dribbble:before,
.ss-dribbble.right:after {
  content: '';
}
.ss-behance:before,
.ss-behance.right:after {
  content: '';
}
.ss-github:before,
.ss-github.right:after {
  content: '';
}
.ss-octocat:before,
.ss-octocat.right:after {
  content: '';
}
.ss-stackoverflow:before,
.ss-stackoverflow.right:after {
  content: '';
}
.ss-paypal:before,
.ss-paypal.right:after {
  content: '';
}
.ss-kickstarter:before,
.ss-kickstarter.right:after {
  content: '';
}
.ss-foursquare:before,
.ss-foursquare.right:after {
  content: '';
}
.ss-yelp:before,
.ss-yelp.right:after {
  content: '';
}
.ss-skype:before,
.ss-skype.right:after {
  content: '';
}
.ss-rdio:before,
.ss-rdio.right:after {
  content: '';
}
.ss-spotify:before,
.ss-spotify.right:after {
  content: '';
}
.ss-lastfm:before,
.ss-lastfm.right:after {
  content: '';
}
.ss-soundcloud:before,
.ss-soundcloud.right:after {
  content: '';
}
.ss-link:before,
.ss-link.right:after {
  content: '🔗';
}
.ss-phone:before,
.ss-phone.right:after {
  content: '📞';
}
.ss-mail:before,
.ss-mail.right:after {
  content: '✉';
}
.ss-like:before,
.ss-like.right:after {
  content: '👍';
}
.ss-rss:before,
.ss-rss.right:after {
  content: '';
}
.ss-share:before,
.ss-share.right:after {
  content: '';
}
.ss-apple:before,
.ss-apple.right:after {
  content: '';
}
.ss-microsoft:before,
.ss-microsoft.right:after {
  content: '';
}
.ss-windows:before,
.ss-windows.right:after {
  content: '';
}
.ss-android:before,
.ss-android.right:after {
  content: '';
}
.ss-blackberry:before,
.ss-blackberry.right:after {
  content: '';
}
/* Legacy */
.ss-fivehundredpx:before,
.ss-fivehundredpx.right:after {
  content: '';
}
/*
* Symbolset
* www.symbolset.com
* Copyright © 2012 Oak Studios LLC
*
* Upload this file to your web server
* and place this within your <head> tags.
* <link href="webfonts/ss-pika.css" rel="stylesheet" />
*/
@font-face {
  font-family: "SSPika";
  src: url('fonts/ss-pika.eot');
  src: url('fonts/ss-pika.eot?#iefix') format('embedded-opentype'), url('fonts/ss-pika.woff') format('woff'), url('fonts/ss-pika.ttf') format('truetype'), url('fonts/ss-pika.svg#SSPika') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* This triggers a redraw in IE to Fix IE8's :before content rendering. */
html:hover [class^="ss-"] {
  -ms-zoom: 1;
}
.ss-icon,
.ss-icon.ss-pika,
[class^="ss-"]:before,
[class*=" ss-"]:before,
[class^="ss-"].ss-pika:before,
[class*=" ss-"].ss-pika:before,
[class^="ss-"].right:after,
[class*=" ss-"].right:after,
[class^="ss-"].ss-pika.right:after,
[class*=" ss-"].ss-pika.right:after {
  font-family: "SSPika";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  /*-webkit-font-feature-settings: "liga"; Currently broken in Chrome >= v22. Falls back to text-rendering. Safari is unaffected. */

  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}
[class^="ss-"].right:before,
[class*=" ss-"].right:before {
  display: none;
  content: '';
}
.ss-cursor:before,
.ss-cursor.right:after {
  content: '';
}
.ss-crosshair:before,
.ss-crosshair.right:after {
  content: '⌖';
}
.ss-search:before,
.ss-search.right:after {
  content: '🔎';
}
.ss-zoomin:before,
.ss-zoomin.right:after {
  content: '';
}
.ss-zoomout:before,
.ss-zoomout.right:after {
  content: '';
}
.ss-screenshot:before,
.ss-screenshot.right:after {
  content: '';
}
.ss-binoculars:before,
.ss-binoculars.right:after {
  content: '';
}
.ss-view:before,
.ss-view.right:after {
  content: '👀';
}
.ss-attach:before,
.ss-attach.right:after {
  content: '📎';
}
.ss-link:before,
.ss-link.right:after {
  content: '🔗';
}
.ss-move:before,
.ss-move.right:after {
  content: '';
}
.ss-write:before,
.ss-write.right:after {
  content: '✎';
}
.ss-writingdisabled:before,
.ss-writingdisabled.right:after {
  content: '';
}
.ss-erase:before,
.ss-erase.right:after {
  content: '✐';
}
.ss-compose:before,
.ss-compose.right:after {
  content: '📝';
}
.ss-draw:before,
.ss-draw.right:after {
  content: '✏';
}
.ss-lock:before,
.ss-lock.right:after {
  content: '🔒';
}
.ss-unlock:before,
.ss-unlock.right:after {
  content: '🔓';
}
.ss-key:before,
.ss-key.right:after {
  content: '🔑';
}
.ss-backspace:before,
.ss-backspace.right:after {
  content: '⌫';
}
.ss-ban:before,
.ss-ban.right:after {
  content: '🚫';
}
.ss-nosmoking:before,
.ss-nosmoking.right:after {
  content: '🚭';
}
.ss-trash:before,
.ss-trash.right:after {
  content: '';
}
.ss-target:before,
.ss-target.right:after {
  content: '◎';
}
.ss-new:before,
.ss-new.right:after {
  content: '🆕';
}
.ss-tag:before,
.ss-tag.right:after {
  content: '';
}
.ss-pricetag:before,
.ss-pricetag.right:after {
  content: '';
}
.ss-flowertag:before,
.ss-flowertag.right:after {
  content: '';
}
.ss-bookmark:before,
.ss-bookmark.right:after {
  content: '🔖';
}
.ss-flag:before,
.ss-flag.right:after {
  content: '⚑';
}
.ss-like:before,
.ss-like.right:after {
  content: '👍';
}
.ss-dislike:before,
.ss-dislike.right:after {
  content: '👎';
}
.ss-heart:before,
.ss-heart.right:after {
  content: '♥';
}
.ss-halfheart:before,
.ss-halfheart.right:after {
  content: '';
}
.ss-emptyheart:before,
.ss-emptyheart.right:after {
  content: '♡';
}
.ss-star:before,
.ss-star.right:after {
  content: '⋆';
}
.ss-halfstar:before,
.ss-halfstar.right:after {
  content: '';
}
.ss-medal:before,
.ss-medal.right:after {
  content: '';
}
.ss-ribbon:before,
.ss-ribbon.right:after {
  content: '🎀';
}
.ss-bullseye:before,
.ss-bullseye.right:after {
  content: '🎯';
}
.ss-sample:before,
.ss-sample.right:after {
  content: '';
}
.ss-crop:before,
.ss-crop.right:after {
  content: '';
}
.ss-layers:before,
.ss-layers.right:after {
  content: '';
}
.ss-gridlines:before,
.ss-gridlines.right:after {
  content: '';
}
.ss-pen:before,
.ss-pen.right:after {
  content: '✒';
}
.ss-feather:before,
.ss-feather.right:after {
  content: '';
}
.ss-rubbereraser:before,
.ss-rubbereraser.right:after {
  content: '';
}
.ss-paintroller:before,
.ss-paintroller.right:after {
  content: '';
}
.ss-rubberstamp:before,
.ss-rubberstamp.right:after {
  content: '';
}
.ss-checkclipboard:before,
.ss-checkclipboard.right:after {
  content: '';
}
.ss-linechartclipboard:before,
.ss-linechartclipboard.right:after {
  content: '';
}
.ss-clockwise:before,
.ss-clockwise.right:after {
  content: '⥁';
}
.ss-phone:before,
.ss-phone.right:after {
  content: '📞';
}
.ss-phonedisabled:before,
.ss-phonedisabled.right:after {
  content: '';
}
.ss-headset:before,
.ss-headset.right:after {
  content: '';
}
.ss-megaphone:before,
.ss-megaphone.right:after {
  content: '📢';
}
.ss-rss:before,
.ss-rss.right:after {
  content: '';
}
.ss-facetime:before,
.ss-facetime.right:after {
  content: '';
}
.ss-reply:before,
.ss-reply.right:after {
  content: '↩';
}
.ss-send:before,
.ss-send.right:after {
  content: '';
}
.ss-mail:before,
.ss-mail.right:after {
  content: '✉';
}
.ss-inbox:before,
.ss-inbox.right:after {
  content: '📥';
}
.ss-outbox:before,
.ss-outbox.right:after {
  content: '📤';
}
.ss-wifimail:before,
.ss-wifimail.right:after {
  content: '';
}
.ss-chat:before,
.ss-chat.right:after {
  content: '💬';
}
.ss-user:before,
.ss-user.right:after {
  content: '👤';
}
.ss-femaleuser:before,
.ss-femaleuser.right:after {
  content: '👧';
}
.ss-users:before,
.ss-users.right:after {
  content: '👥';
}
.ss-usergroup:before,
.ss-usergroup.right:after {
  content: '';
}
.ss-adduser:before,
.ss-adduser.right:after {
  content: '';
}
.ss-removeuser:before,
.ss-removeuser.right:after {
  content: '';
}
.ss-deleteuser:before,
.ss-deleteuser.right:after {
  content: '';
}
.ss-userprofile:before,
.ss-userprofile.right:after {
  content: '';
}
.ss-businessuser:before,
.ss-businessuser.right:after {
  content: '';
}
.ss-cart:before,
.ss-cart.right:after {
  content: '';
}
.ss-addcart:before,
.ss-addcart.right:after {
  content: '';
}
.ss-removecart:before,
.ss-removecart.right:after {
  content: '';
}
.ss-deletecart:before,
.ss-deletecart.right:after {
  content: '';
}
.ss-downloadcart:before,
.ss-downloadcart.right:after {
  content: '';
}
.ss-emptycart:before,
.ss-emptycart.right:after {
  content: '';
}
.ss-basket:before,
.ss-basket.right:after {
  content: '';
}
.ss-gift:before,
.ss-gift.right:after {
  content: '🎁';
}
.ss-apple:before,
.ss-apple.right:after {
  content: '🍏';
}
.ss-cashregister:before,
.ss-cashregister.right:after {
  content: '';
}
.ss-store:before,
.ss-store.right:after {
  content: '🏬';
}
.ss-searchbarcode:before,
.ss-searchbarcode.right:after {
  content: '';
}
.ss-notepad:before,
.ss-notepad.right:after {
  content: '';
}
.ss-creditcard:before,
.ss-creditcard.right:after {
  content: '💳';
}
.ss-safe:before,
.ss-safe.right:after {
  content: '';
}
.ss-digitalsafe:before,
.ss-digitalsafe.right:after {
  content: '';
}
.ss-atm:before,
.ss-atm.right:after {
  content: '🏧';
}
.ss-dispensecash:before,
.ss-dispensecash.right:after {
  content: '';
}
.ss-banknote:before,
.ss-banknote.right:after {
  content: '💵';
}
.ss-coins:before,
.ss-coins.right:after {
  content: '';
}
.ss-bankcheck:before,
.ss-bankcheck.right:after {
  content: '';
}
.ss-piggybank:before,
.ss-piggybank.right:after {
  content: '';
}
.ss-moneybag:before,
.ss-moneybag.right:after {
  content: '💰';
}
.ss-tip:before,
.ss-tip.right:after {
  content: '';
}
.ss-calculator:before,
.ss-calculator.right:after {
  content: '';
}
.ss-percent:before,
.ss-percent.right:after {
  content: '%';
}
.ss-bank:before,
.ss-bank.right:after {
  content: '🏦';
}
.ss-scales:before,
.ss-scales.right:after {
  content: '⚖';
}
.ss-piechart:before,
.ss-piechart.right:after {
  content: '';
}
.ss-piechartthirds:before,
.ss-piechartthirds.right:after {
  content: '';
}
.ss-barchart:before,
.ss-barchart.right:after {
  content: '📊';
}
.ss-upwardsbarchart:before,
.ss-upwardsbarchart.right:after {
  content: '';
}
.ss-downwardsbarchart:before,
.ss-downwardsbarchart.right:after {
  content: '';
}
.ss-horizontalbarchart:before,
.ss-horizontalbarchart.right:after {
  content: '';
}
.ss-analytics:before,
.ss-analytics.right:after {
  content: '';
}
.ss-upwardslinechart:before,
.ss-upwardslinechart.right:after {
  content: '📈';
}
.ss-downwardslinechart:before,
.ss-downwardslinechart.right:after {
  content: '📉';
}
.ss-linecharts:before,
.ss-linecharts.right:after {
  content: '';
}
.ss-scatterchart:before,
.ss-scatterchart.right:after {
  content: '';
}
.ss-stock:before,
.ss-stock.right:after {
  content: '';
}
.ss-form:before,
.ss-form.right:after {
  content: '';
}
.ss-box:before,
.ss-box.right:after {
  content: '📦';
}
.ss-crate:before,
.ss-crate.right:after {
  content: '';
}
.ss-deliveryvan:before,
.ss-deliveryvan.right:after {
  content: '';
}
.ss-deliverytruck:before,
.ss-deliverytruck.right:after {
  content: '';
}
.ss-forklift:before,
.ss-forklift.right:after {
  content: '';
}
.ss-cargoship:before,
.ss-cargoship.right:after {
  content: '';
}
.ss-hook:before,
.ss-hook.right:after {
  content: '';
}
.ss-weight:before,
.ss-weight.right:after {
  content: '';
}
.ss-containers:before,
.ss-containers.right:after {
  content: '';
}
.ss-fragile:before,
.ss-fragile.right:after {
  content: '';
}
.ss-thissideup:before,
.ss-thissideup.right:after {
  content: '';
}
.ss-home:before,
.ss-home.right:after {
  content: '⌂';
}
.ss-building:before,
.ss-building.right:after {
  content: '🏢';
}
.ss-lodging:before,
.ss-lodging.right:after {
  content: '🏨';
}
.ss-earth:before,
.ss-earth.right:after {
  content: '🌎';
}
.ss-globe:before,
.ss-globe.right:after {
  content: '🌐';
}
.ss-garage:before,
.ss-garage.right:after {
  content: '';
}
.ss-warehouse:before,
.ss-warehouse.right:after {
  content: '';
}
.ss-floorplan:before,
.ss-floorplan.right:after {
  content: '';
}
.ss-address:before,
.ss-address.right:after {
  content: '';
}
.ss-searchhouse:before,
.ss-searchhouse.right:after {
  content: '';
}
.ss-housesale:before,
.ss-housesale.right:after {
  content: '';
}
.ss-navigate:before,
.ss-navigate.right:after {
  content: '';
}
.ss-compass:before,
.ss-compass.right:after {
  content: '';
}
.ss-signpost:before,
.ss-signpost.right:after {
  content: '';
}
.ss-map:before,
.ss-map.right:after {
  content: '';
}
.ss-gps:before,
.ss-gps.right:after {
  content: '';
}
.ss-compassnavigate:before,
.ss-compassnavigate.right:after {
  content: '';
}
.ss-compassarrow:before,
.ss-compassarrow.right:after {
  content: '';
}
.ss-location:before,
.ss-location.right:after {
  content: '';
}
.ss-pin:before,
.ss-pin.right:after {
  content: '📍';
}
.ss-pushpin:before,
.ss-pushpin.right:after {
  content: '📌';
}
.ss-maplocation:before,
.ss-maplocation.right:after {
  content: '';
}
.ss-globelocation:before,
.ss-globelocation.right:after {
  content: '';
}
.ss-puzzle:before,
.ss-puzzle.right:after {
  content: '';
}
.ss-floppydisk:before,
.ss-floppydisk.right:after {
  content: '💾';
}
.ss-firewall:before,
.ss-firewall.right:after {
  content: '';
}
.ss-database:before,
.ss-database.right:after {
  content: '';
}
.ss-hdd:before,
.ss-hdd.right:after {
  content: '';
}
.ss-music:before,
.ss-music.right:after {
  content: '♫';
}
.ss-eighthnote:before,
.ss-eighthnote.right:after {
  content: '♪';
}
.ss-mic:before,
.ss-mic.right:after {
  content: '🎤';
}
.ss-volume:before,
.ss-volume.right:after {
  content: '🔈';
}
.ss-lowvolume:before,
.ss-lowvolume.right:after {
  content: '🔉';
}
.ss-highvolume:before,
.ss-highvolume.right:after {
  content: '🔊';
}
.ss-radio:before,
.ss-radio.right:after {
  content: '📻';
}
.ss-stereo:before,
.ss-stereo.right:after {
  content: '';
}
.ss-airplay:before,
.ss-airplay.right:after {
  content: '';
}
.ss-vinylrecord:before,
.ss-vinylrecord.right:after {
  content: '';
}
.ss-disc:before,
.ss-disc.right:after {
  content: '💿';
}
.ss-camera:before,
.ss-camera.right:after {
  content: '📷';
}
.ss-picture:before,
.ss-picture.right:after {
  content: '🌄';
}
.ss-video:before,
.ss-video.right:after {
  content: '📹';
}
.ss-playvideo:before,
.ss-playvideo.right:after {
  content: '';
}
.ss-play:before,
.ss-play.right:after {
  content: '▶';
}
.ss-pause:before,
.ss-pause.right:after {
  content: '';
}
.ss-stop:before,
.ss-stop.right:after {
  content: '■';
}
.ss-record:before,
.ss-record.right:after {
  content: '●';
}
.ss-rewind:before,
.ss-rewind.right:after {
  content: '⏪';
}
.ss-fastforward:before,
.ss-fastforward.right:after {
  content: '⏩';
}
.ss-skipback:before,
.ss-skipback.right:after {
  content: '⏮';
}
.ss-skipforward:before,
.ss-skipforward.right:after {
  content: '⏭';
}
.ss-eject:before,
.ss-eject.right:after {
  content: '⏏';
}
.ss-repeat:before,
.ss-repeat.right:after {
  content: '🔁';
}
.ss-replay:before,
.ss-replay.right:after {
  content: '↺';
}
.ss-shuffle:before,
.ss-shuffle.right:after {
  content: '🔀';
}
.ss-index:before,
.ss-index.right:after {
  content: '';
}
.ss-page:before,
.ss-page.right:after {
  content: '';
}
.ss-book:before,
.ss-book.right:after {
  content: '📕';
}
.ss-books:before,
.ss-books.right:after {
  content: '📚';
}
.ss-openbook:before,
.ss-openbook.right:after {
  content: '📖';
}
.ss-heartbook:before,
.ss-heartbook.right:after {
  content: '';
}
.ss-downloadbook:before,
.ss-downloadbook.right:after {
  content: '';
}
.ss-musicopenbook:before,
.ss-musicopenbook.right:after {
  content: '';
}
.ss-searchbook:before,
.ss-searchbook.right:after {
  content: '';
}
.ss-notebook:before,
.ss-notebook.right:after {
  content: '📓';
}
.ss-newspaper:before,
.ss-newspaper.right:after {
  content: '📰';
}
.ss-notice:before,
.ss-notice.right:after {
  content: '';
}
.ss-rows:before,
.ss-rows.right:after {
  content: '';
}
.ss-columns:before,
.ss-columns.right:after {
  content: '';
}
.ss-thumbnails:before,
.ss-thumbnails.right:after {
  content: '';
}
.ss-pagecurl:before,
.ss-pagecurl.right:after {
  content: '';
}
.ss-desktop:before,
.ss-desktop.right:after {
  content: '💻';
}
.ss-laptop:before,
.ss-laptop.right:after {
  content: '';
}
.ss-tablet:before,
.ss-tablet.right:after {
  content: '';
}
.ss-smartphone:before,
.ss-smartphone.right:after {
  content: '';
}
.ss-cell:before,
.ss-cell.right:after {
  content: '📱';
}
.ss-walkytalky:before,
.ss-walkytalky.right:after {
  content: '';
}
.ss-ereader:before,
.ss-ereader.right:after {
  content: '';
}
.ss-ebook:before,
.ss-ebook.right:after {
  content: '';
}
.ss-wifibook:before,
.ss-wifibook.right:after {
  content: '';
}
.ss-wifiopenbook:before,
.ss-wifiopenbook.right:after {
  content: '';
}
.ss-battery:before,
.ss-battery.right:after {
  content: '🔋';
}
.ss-highbattery:before,
.ss-highbattery.right:after {
  content: '';
}
.ss-mediumbattery:before,
.ss-mediumbattery.right:after {
  content: '';
}
.ss-lowbattery:before,
.ss-lowbattery.right:after {
  content: '';
}
.ss-emptybattery:before,
.ss-emptybattery.right:after {
  content: '';
}
.ss-chargingbattery:before,
.ss-chargingbattery.right:after {
  content: '';
}
.ss-heartmobile:before,
.ss-heartmobile.right:after {
  content: '';
}
.ss-phonemobile:before,
.ss-phonemobile.right:after {
  content: '';
}
.ss-lockmobile:before,
.ss-lockmobile.right:after {
  content: '';
}
.ss-textmobile:before,
.ss-textmobile.right:after {
  content: '';
}
.ss-dollarmobile:before,
.ss-dollarmobile.right:after {
  content: '';
}
.ss-euromobile:before,
.ss-euromobile.right:after {
  content: '';
}
.ss-rssmobile:before,
.ss-rssmobile.right:after {
  content: '';
}
.ss-navigationmobile:before,
.ss-navigationmobile.right:after {
  content: '';
}
.ss-batterymobile:before,
.ss-batterymobile.right:after {
  content: '';
}
.ss-powermobile:before,
.ss-powermobile.right:after {
  content: '';
}
.ss-browseonline:before,
.ss-browseonline.right:after {
  content: '';
}
.ss-shoponline:before,
.ss-shoponline.right:after {
  content: '';
}
.ss-bankonline:before,
.ss-bankonline.right:after {
  content: '';
}
.ss-realtyonline:before,
.ss-realtyonline.right:after {
  content: '';
}
.ss-readonline:before,
.ss-readonline.right:after {
  content: '';
}
.ss-weatheronline:before,
.ss-weatheronline.right:after {
  content: '';
}
.ss-lightbulb:before,
.ss-lightbulb.right:after {
  content: '💡';
}
.ss-lightbulbon:before,
.ss-lightbulbon.right:after {
  content: '';
}
.ss-cfl:before,
.ss-cfl.right:after {
  content: '';
}
.ss-hairdryer:before,
.ss-hairdryer.right:after {
  content: '';
}
.ss-picnictable:before,
.ss-picnictable.right:after {
  content: '';
}
.ss-flame:before,
.ss-flame.right:after {
  content: '';
}
.ss-campfire:before,
.ss-campfire.right:after {
  content: '🔥';
}
.ss-bonfire:before,
.ss-bonfire.right:after {
  content: '';
}
.ss-balloon:before,
.ss-balloon.right:after {
  content: '🎈';
}
.ss-christmastree:before,
.ss-christmastree.right:after {
  content: '🎄';
}
.ss-sweep:before,
.ss-sweep.right:after {
  content: '';
}
.ss-chess:before,
.ss-chess.right:after {
  content: '♞';
}
.ss-onedie:before,
.ss-onedie.right:after {
  content: '⚀';
}
.ss-twodie:before,
.ss-twodie.right:after {
  content: '⚁';
}
.ss-threedie:before,
.ss-threedie.right:after {
  content: '⚂';
}
.ss-fourdie:before,
.ss-fourdie.right:after {
  content: '⚃';
}
.ss-fivedie:before,
.ss-fivedie.right:after {
  content: '⚄';
}
.ss-sixdie:before,
.ss-sixdie.right:after {
  content: '⚅';
}
.ss-downloadcloud:before,
.ss-downloadcloud.right:after {
  content: '';
}
.ss-download:before,
.ss-download.right:after {
  content: '';
}
.ss-downloadbox:before,
.ss-downloadbox.right:after {
  content: '';
}
.ss-downloadcrate:before,
.ss-downloadcrate.right:after {
  content: '';
}
.ss-uploadcloud:before,
.ss-uploadcloud.right:after {
  content: '';
}
.ss-upload:before,
.ss-upload.right:after {
  content: '';
}
.ss-uploadbox:before,
.ss-uploadbox.right:after {
  content: '';
}
.ss-uploadcrate:before,
.ss-uploadcrate.right:after {
  content: '';
}
.ss-fork:before,
.ss-fork.right:after {
  content: '';
}
.ss-merge:before,
.ss-merge.right:after {
  content: '';
}
.ss-refresh:before,
.ss-refresh.right:after {
  content: '↻';
}
.ss-sync:before,
.ss-sync.right:after {
  content: '';
}
.ss-loading:before,
.ss-loading.right:after {
  content: '';
}
.ss-wifi:before,
.ss-wifi.right:after {
  content: '';
}
.ss-connection:before,
.ss-connection.right:after {
  content: '';
}
.ss-reload:before,
.ss-reload.right:after {
  content: '';
}
.ss-file:before,
.ss-file.right:after {
  content: '📄';
}
.ss-addfile:before,
.ss-addfile.right:after {
  content: '';
}
.ss-removefile:before,
.ss-removefile.right:after {
  content: '';
}
.ss-deletefile:before,
.ss-deletefile.right:after {
  content: '';
}
.ss-downloadfile:before,
.ss-downloadfile.right:after {
  content: '';
}
.ss-uploadfile:before,
.ss-uploadfile.right:after {
  content: '';
}
.ss-importfile:before,
.ss-importfile.right:after {
  content: '';
}
.ss-exportfile:before,
.ss-exportfile.right:after {
  content: '';
}
.ss-settingsfile:before,
.ss-settingsfile.right:after {
  content: '';
}
.ss-lockfile:before,
.ss-lockfile.right:after {
  content: '';
}
.ss-userfile:before,
.ss-userfile.right:after {
  content: '';
}
.ss-picturefile:before,
.ss-picturefile.right:after {
  content: '';
}
.ss-textfile:before,
.ss-textfile.right:after {
  content: '';
}
.ss-exe:before,
.ss-exe.right:after {
  content: '';
}
.ss-zip:before,
.ss-zip.right:after {
  content: '';
}
.ss-doc:before,
.ss-doc.right:after {
  content: '';
}
.ss-ppt:before,
.ss-ppt.right:after {
  content: '';
}
.ss-pdf:before,
.ss-pdf.right:after {
  content: '';
}
.ss-jpg:before,
.ss-jpg.right:after {
  content: '';
}
.ss-png:before,
.ss-png.right:after {
  content: '';
}
.ss-folder:before,
.ss-folder.right:after {
  content: '📁';
}
.ss-openfolder:before,
.ss-openfolder.right:after {
  content: '📂';
}
.ss-downloadfolder:before,
.ss-downloadfolder.right:after {
  content: '';
}
.ss-uploadfolder:before,
.ss-uploadfolder.right:after {
  content: '';
}
.ss-cloudfolder:before,
.ss-cloudfolder.right:after {
  content: '';
}
.ss-lockfolder:before,
.ss-lockfolder.right:after {
  content: '';
}
.ss-securefolder:before,
.ss-securefolder.right:after {
  content: '';
}
.ss-picturefolder:before,
.ss-picturefolder.right:after {
  content: '';
}
.ss-moviefolder:before,
.ss-moviefolder.right:after {
  content: '';
}
.ss-quote:before,
.ss-quote.right:after {
  content: '“';
}
.ss-text:before,
.ss-text.right:after {
  content: '';
}
.ss-font:before,
.ss-font.right:after {
  content: '';
}
.ss-highlight:before,
.ss-highlight.right:after {
  content: '';
}
.ss-print:before,
.ss-print.right:after {
  content: '⎙';
}
.ss-fax:before,
.ss-fax.right:after {
  content: '📠';
}
.ss-list:before,
.ss-list.right:after {
  content: '';
}
.ss-layout:before,
.ss-layout.right:after {
  content: '';
}
.ss-action:before,
.ss-action.right:after {
  content: '';
}
.ss-redirect:before,
.ss-redirect.right:after {
  content: '↪';
}
.ss-expand:before,
.ss-expand.right:after {
  content: '⤢';
}
.ss-contract:before,
.ss-contract.right:after {
  content: '';
}
.ss-help:before,
.ss-help.right:after {
  content: '❓';
}
.ss-info:before,
.ss-info.right:after {
  content: 'ℹ';
}
.ss-alert:before,
.ss-alert.right:after {
  content: '⚠';
}
.ss-caution:before,
.ss-caution.right:after {
  content: '⛔';
}
.ss-logout:before,
.ss-logout.right:after {
  content: '';
}
.ss-login:before,
.ss-login.right:after {
  content: '';
}
.ss-scaleup:before,
.ss-scaleup.right:after {
  content: '';
}
.ss-scaledown:before,
.ss-scaledown.right:after {
  content: '';
}
.ss-plus:before,
.ss-plus.right:after {
  content: '+';
}
.ss-hyphen:before,
.ss-hyphen.right:after {
  content: '-';
}
.ss-check:before,
.ss-check.right:after {
  content: '✓';
}
.ss-delete:before,
.ss-delete.right:after {
  content: '␡';
}
.ss-bearface:before,
.ss-bearface.right:after {
  content: '🐻';
}
.ss-bird:before,
.ss-bird.right:after {
  content: '🐦';
}
.ss-fishes:before,
.ss-fishes.right:after {
  content: '';
}
.ss-tropicalfish:before,
.ss-tropicalfish.right:after {
  content: '';
}
.ss-tree:before,
.ss-tree.right:after {
  content: '🌳';
}
.ss-evergreen:before,
.ss-evergreen.right:after {
  content: '🌲';
}
.ss-palmtree:before,
.ss-palmtree.right:after {
  content: '🌴';
}
.ss-leaf:before,
.ss-leaf.right:after {
  content: '🍂';
}
.ss-seedling:before,
.ss-seedling.right:after {
  content: '🌱';
}
.ss-grass:before,
.ss-grass.right:after {
  content: '';
}
.ss-settings:before,
.ss-settings.right:after {
  content: '⚙';
}
.ss-dashboard:before,
.ss-dashboard.right:after {
  content: '';
}
.ss-dial:before,
.ss-dial.right:after {
  content: '';
}
.ss-notifications:before,
.ss-notifications.right:after {
  content: '🔔';
}
.ss-notificationsdisabled:before,
.ss-notificationsdisabled.right:after {
  content: '🔕';
}
.ss-flash:before,
.ss-flash.right:after {
  content: '⌁';
}
.ss-wrench:before,
.ss-wrench.right:after {
  content: '🔧';
}
.ss-tapemeasure:before,
.ss-tapemeasure.right:after {
  content: '';
}
.ss-clock:before,
.ss-clock.right:after {
  content: '⏲';
}
.ss-watch:before,
.ss-watch.right:after {
  content: '⌚';
}
.ss-stopwatch:before,
.ss-stopwatch.right:after {
  content: '⏱';
}
.ss-alarmclock:before,
.ss-alarmclock.right:after {
  content: '⏰';
}
.ss-calendar:before,
.ss-calendar.right:after {
  content: '📅';
}
.ss-addcalendar:before,
.ss-addcalendar.right:after {
  content: '';
}
.ss-removecalendar:before,
.ss-removecalendar.right:after {
  content: '';
}
.ss-checkcalendar:before,
.ss-checkcalendar.right:after {
  content: '';
}
.ss-deletecalendar:before,
.ss-deletecalendar.right:after {
  content: '';
}
.ss-sausage:before,
.ss-sausage.right:after {
  content: '';
}
.ss-burger:before,
.ss-burger.right:after {
  content: '🍔';
}
.ss-pizza:before,
.ss-pizza.right:after {
  content: '🍕';
}
.ss-fish:before,
.ss-fish.right:after {
  content: '🐟';
}
.ss-shrimp:before,
.ss-shrimp.right:after {
  content: '🍤';
}
.ss-turkey:before,
.ss-turkey.right:after {
  content: '';
}
.ss-steak:before,
.ss-steak.right:after {
  content: '';
}
.ss-sidedish:before,
.ss-sidedish.right:after {
  content: '🍚';
}
.ss-noodles:before,
.ss-noodles.right:after {
  content: '🍜';
}
.ss-spaghetti:before,
.ss-spaghetti.right:after {
  content: '🍝';
}
.ss-corn:before,
.ss-corn.right:after {
  content: '';
}
.ss-carrot:before,
.ss-carrot.right:after {
  content: '';
}
.ss-icecream:before,
.ss-icecream.right:after {
  content: '🍨';
}
.ss-mug:before,
.ss-mug.right:after {
  content: '☕';
}
.ss-beer:before,
.ss-beer.right:after {
  content: '🍺';
}
.ss-bottle:before,
.ss-bottle.right:after {
  content: '';
}
.ss-wineglass:before,
.ss-wineglass.right:after {
  content: '🍷';
}
.ss-cocktail:before,
.ss-cocktail.right:after {
  content: '🍸';
}
.ss-tea:before,
.ss-tea.right:after {
  content: '🍵';
}
.ss-teapot:before,
.ss-teapot.right:after {
  content: '';
}
.ss-waterbottle:before,
.ss-waterbottle.right:after {
  content: '';
}
.ss-wineglasssparkle:before,
.ss-wineglasssparkle.right:after {
  content: '';
}
.ss-salt:before,
.ss-salt.right:after {
  content: '';
}
.ss-pepper:before,
.ss-pepper.right:after {
  content: '';
}
.ss-oliveoil:before,
.ss-oliveoil.right:after {
  content: '';
}
.ss-hotsauce:before,
.ss-hotsauce.right:after {
  content: '';
}
.ss-coal:before,
.ss-coal.right:after {
  content: '';
}
.ss-oven:before,
.ss-oven.right:after {
  content: '';
}
.ss-stove:before,
.ss-stove.right:after {
  content: '';
}
.ss-cook:before,
.ss-cook.right:after {
  content: '🍳';
}
.ss-bbq:before,
.ss-bbq.right:after {
  content: '';
}
.ss-utensils:before,
.ss-utensils.right:after {
  content: '🍴';
}
.ss-spoonfork:before,
.ss-spoonfork.right:after {
  content: '';
}
.ss-knife:before,
.ss-knife.right:after {
  content: '🔪';
}
.ss-cookingutensils:before,
.ss-cookingutensils.right:after {
  content: '';
}
.ss-measuringcup:before,
.ss-measuringcup.right:after {
  content: '';
}
.ss-colander:before,
.ss-colander.right:after {
  content: '';
}
.ss-scale:before,
.ss-scale.right:after {
  content: '';
}
.ss-eggtimer:before,
.ss-eggtimer.right:after {
  content: '';
}
.ss-platter:before,
.ss-platter.right:after {
  content: '';
}
.ss-apron:before,
.ss-apron.right:after {
  content: '';
}
.ss-bbqapron:before,
.ss-bbqapron.right:after {
  content: '';
}
.ss-chef:before,
.ss-chef.right:after {
  content: '';
}
.ss-handbag:before,
.ss-handbag.right:after {
  content: '👜';
}
.ss-briefcase:before,
.ss-briefcase.right:after {
  content: '💼';
}
.ss-hanger:before,
.ss-hanger.right:after {
  content: '';
}
.ss-weathervane:before,
.ss-weathervane.right:after {
  content: '';
}
.ss-thermometer:before,
.ss-thermometer.right:after {
  content: '';
}
.ss-weather:before,
.ss-weather.right:after {
  content: '';
}
.ss-cloud:before,
.ss-cloud.right:after {
  content: '☁';
}
.ss-droplet:before,
.ss-droplet.right:after {
  content: '💧';
}
.ss-sun:before,
.ss-sun.right:after {
  content: '☀';
}
.ss-partlycloudy:before,
.ss-partlycloudy.right:after {
  content: '⛅';
}
.ss-rain:before,
.ss-rain.right:after {
  content: '☔';
}
.ss-thunderstorm:before,
.ss-thunderstorm.right:after {
  content: '⛈';
}
.ss-umbrella:before,
.ss-umbrella.right:after {
  content: '☂';
}
.ss-rainbow:before,
.ss-rainbow.right:after {
  content: '🌈';
}
.ss-fog:before,
.ss-fog.right:after {
  content: '';
}
.ss-wind:before,
.ss-wind.right:after {
  content: '';
}
.ss-tornado:before,
.ss-tornado.right:after {
  content: '';
}
.ss-snowflake:before,
.ss-snowflake.right:after {
  content: '❄';
}
.ss-fan:before,
.ss-fan.right:after {
  content: '';
}
.ss-solarpanel:before,
.ss-solarpanel.right:after {
  content: '';
}
.ss-plug:before,
.ss-plug.right:after {
  content: '🔌';
}
.ss-outlet:before,
.ss-outlet.right:after {
  content: '';
}
.ss-car:before,
.ss-car.right:after {
  content: '🚘';
}
.ss-taxi:before,
.ss-taxi.right:after {
  content: '🚖';
}
.ss-locomotive:before,
.ss-locomotive.right:after {
  content: '🚂';
}
.ss-train:before,
.ss-train.right:after {
  content: '🚆';
}
.ss-traintunnel:before,
.ss-traintunnel.right:after {
  content: '🚇';
}
.ss-bus:before,
.ss-bus.right:after {
  content: '🚍';
}
.ss-truck:before,
.ss-truck.right:after {
  content: '🚚';
}
.ss-caravan:before,
.ss-caravan.right:after {
  content: '🚐';
}
.ss-tractor:before,
.ss-tractor.right:after {
  content: '🚜';
}
.ss-tunnel:before,
.ss-tunnel.right:after {
  content: '';
}
.ss-plane:before,
.ss-plane.right:after {
  content: '✈';
}
.ss-arrival:before,
.ss-arrival.right:after {
  content: '';
}
.ss-departure:before,
.ss-departure.right:after {
  content: '';
}
.ss-helicopter:before,
.ss-helicopter.right:after {
  content: '🚁';
}
.ss-bike:before,
.ss-bike.right:after {
  content: '🚲';
}
.ss-motorcycle:before,
.ss-motorcycle.right:after {
  content: '';
}
.ss-boat:before,
.ss-boat.right:after {
  content: '🚢';
}
.ss-sailboat:before,
.ss-sailboat.right:after {
  content: '⛵';
}
.ss-schooner:before,
.ss-schooner.right:after {
  content: '';
}
.ss-skylift:before,
.ss-skylift.right:after {
  content: '🚡';
}
.ss-rocket:before,
.ss-rocket.right:after {
  content: '🚀';
}
.ss-steeringwheel:before,
.ss-steeringwheel.right:after {
  content: '';
}
.ss-trafficcamera:before,
.ss-trafficcamera.right:after {
  content: '';
}
.ss-fuel:before,
.ss-fuel.right:after {
  content: '⛽';
}
.ss-jerrycan:before,
.ss-jerrycan.right:after {
  content: '';
}
.ss-passport:before,
.ss-passport.right:after {
  content: '';
}
.ss-trafficlight:before,
.ss-trafficlight.right:after {
  content: '🚦';
}
.ss-highway:before,
.ss-highway.right:after {
  content: '';
}
.ss-road:before,
.ss-road.right:after {
  content: '';
}
.ss-intersection:before,
.ss-intersection.right:after {
  content: '';
}
.ss-wheelchair:before,
.ss-wheelchair.right:after {
  content: '♿';
}
.ss-elevator:before,
.ss-elevator.right:after {
  content: '';
}
.ss-golf:before,
.ss-golf.right:after {
  content: '';
}
.ss-hockey:before,
.ss-hockey.right:after {
  content: '';
}
.ss-iceskate:before,
.ss-iceskate.right:after {
  content: '⛸';
}
.ss-billiards:before,
.ss-billiards.right:after {
  content: '🎱';
}
.ss-baseballglove:before,
.ss-baseballglove.right:after {
  content: '';
}
.ss-tennis:before,
.ss-tennis.right:after {
  content: '🎾';
}
.ss-tabletennis:before,
.ss-tabletennis.right:after {
  content: '';
}
.ss-badminton:before,
.ss-badminton.right:after {
  content: '';
}
.ss-boxing:before,
.ss-boxing.right:after {
  content: '';
}
.ss-bowling:before,
.ss-bowling.right:after {
  content: '';
}
.ss-football:before,
.ss-football.right:after {
  content: '🏈';
}
.ss-soccer:before,
.ss-soccer.right:after {
  content: '⚽';
}
.ss-hiker:before,
.ss-hiker.right:after {
  content: '';
}
.ss-pool:before,
.ss-pool.right:after {
  content: '';
}
.ss-shower:before,
.ss-shower.right:after {
  content: '🚿';
}
.ss-exercise:before,
.ss-exercise.right:after {
  content: '';
}
.ss-exercisebike:before,
.ss-exercisebike.right:after {
  content: '';
}
.ss-dumbbell:before,
.ss-dumbbell.right:after {
  content: '';
}
.ss-jumprope:before,
.ss-jumprope.right:after {
  content: '';
}
.ss-yoga:before,
.ss-yoga.right:after {
  content: '';
}
.ss-suitcase:before,
.ss-suitcase.right:after {
  content: '';
}
.ss-luggage:before,
.ss-luggage.right:after {
  content: '';
}
.ss-donotdisturb:before,
.ss-donotdisturb.right:after {
  content: '';
}
.ss-sunscreen:before,
.ss-sunscreen.right:after {
  content: '';
}
.ss-callbell:before,
.ss-callbell.right:after {
  content: '';
}
.ss-hospital:before,
.ss-hospital.right:after {
  content: '⛨';
}
.ss-medicalcross:before,
.ss-medicalcross.right:after {
  content: '';
}
.ss-ambulance:before,
.ss-ambulance.right:after {
  content: '🚑';
}
.ss-bandage:before,
.ss-bandage.right:after {
  content: '';
}
.ss-medicalthermometer:before,
.ss-medicalthermometer.right:after {
  content: '';
}
.ss-stethoscope:before,
.ss-stethoscope.right:after {
  content: '';
}
.ss-syringe:before,
.ss-syringe.right:after {
  content: '💉';
}
.ss-pill:before,
.ss-pill.right:after {
  content: '💊';
}
.ss-pillbottle:before,
.ss-pillbottle.right:after {
  content: '';
}
.ss-supplements:before,
.ss-supplements.right:after {
  content: '';
}
.ss-bathroomscale:before,
.ss-bathroomscale.right:after {
  content: '';
}
.ss-dna:before,
.ss-dna.right:after {
  content: '';
}
.ss-anatomicalheart:before,
.ss-anatomicalheart.right:after {
  content: '';
}
.ss-checkheart:before,
.ss-checkheart.right:after {
  content: '';
}
.ss-eyesurgery:before,
.ss-eyesurgery.right:after {
  content: '';
}
.ss-brokenbone:before,
.ss-brokenbone.right:after {
  content: '';
}
.ss-up:before,
.ss-up.right:after {
  content: '⬆';
}
.ss-upright:before,
.ss-upright.right:after {
  content: '⬈';
}
.ss-right:before,
.ss-right.right:after {
  content: '➡';
}
.ss-downright:before,
.ss-downright.right:after {
  content: '⬊';
}
.ss-down:before,
.ss-down.right:after {
  content: '⬇';
}
.ss-downleft:before,
.ss-downleft.right:after {
  content: '⬋';
}
.ss-left:before,
.ss-left.right:after {
  content: '⬅';
}
.ss-upleft:before,
.ss-upleft.right:after {
  content: '⬉';
}
.ss-navigateup:before,
.ss-navigateup.right:after {
  content: '';
}
.ss-navigateright:before,
.ss-navigateright.right:after {
  content: '▻';
}
.ss-navigatedown:before,
.ss-navigatedown.right:after {
  content: '';
}
.ss-navigateleft:before,
.ss-navigateleft.right:after {
  content: '◅';
}
.ss-directup:before,
.ss-directup.right:after {
  content: '▴';
}
.ss-directright:before,
.ss-directright.right:after {
  content: '▹';
}
.ss-dropdown:before,
.ss-dropdown.right:after {
  content: '▾';
}
.ss-directleft:before,
.ss-directleft.right:after {
  content: '◃';
}
.ss-leftright:before,
.ss-leftright.right:after {
  content: '⬌';
}
.ss-rightward:before,
.ss-rightward.right:after {
  content: '';
}
.ss-leftward:before,
.ss-leftward.right:after {
  content: '';
}
.ss-previouspage:before,
.ss-previouspage.right:after {
  content: '⎗';
}
.ss-nextpage:before,
.ss-nextpage.right:after {
  content: '⎘';
}
.ss-retweet:before,
.ss-retweet.right:after {
  content: '';
}
.ss-share:before,
.ss-share.right:after {
  content: '';
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}
::selection {
  text-shadow: none;
  background: #b3d4fc;
}
@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}
/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0;
}
/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}
.token.punctuation {
  color: #999;
}
.namespace {
  opacity: .7;
}
.token.property,
.token.tag,
.token.boolean,
.token.number {
  color: #905;
}
.token.selector,
.token.attr-name,
.token.string {
  color: #690;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}
.token.regex,
.token.important {
  color: #e90;
}
.token.important {
  font-weight: bold;
}
.token.entity {
  cursor: help;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
a {
  text-decoration: none;
  color: #2eadbe;
}
a:hover {
  color: #333333;
}
body {
  font-family: 'motiva_sansregular';
}
.wrapper {
  width: 100%;
  min-width: 960px;
}
#logo {
  font-family: 'motiva_sans_thinregular';
  font-weight: normal;
  font-size: 23px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  margin: 18px 0 0 20px;
  position: relative;
}
#logo a {
  color: #555555;
}
#left {
  padding-left: 0;
  width: 264px;
  float: left;
}
#site-navigation-mouse {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 198px;
}
#site-navigation-mouse.active,
#site-navigation-mouse.provisory {
  display: block;
}
#site-navigation {
  display: none;
  position: absolute;
  top: 0;
  width: 198px;
  padding-top: 79px;
  border-right: 1px solid #cccccc;
}
#site-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#site-navigation ul li {
  border-bottom: 1px solid #ededed;
}
#site-navigation ul li.current_page_item {
  border-bottom: 2px solid #2eadbe;
}
#site-navigation ul li a {
  color: #777777;
  font-size: 12px;
  font-family: 'motiva_sans_lightregular';
  text-transform: lowercase;
  padding: 11px 0 6px 20px;
  display: block;
}
#site-navigation ul li a:hover {
  color: #cccccc;
}
#main {
  width: 72.38494%;
  float: left;
}
#main .content {
  padding-top: 100px;
  padding-left: 60px;
}
#main .content#home {
  padding-top: 60px;
  padding-left: 6px;
}
#main #home {
  padding-bottom: 60px;
}
#main #home .project .cover {
  background-color: #2eadbe;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}
#main #home .project .cover:hover {
  opacity: 0.7;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}
#main #home .project .cover a {
  display: block;
}
#main #home .project .title {
  font-size: 14px;
  font-family: 'motiva_sans_boldregular';
  font-weight: normal;
  margin-bottom: 5px;
}
#main #home .project p {
  margin-top: 0;
  font-size: 12px;
}
#main #home .project a {
  color: black;
}
#main #home .project a:hover {
  color: #777;
}
#main #home .w1 {
  width: 310px;
}
#main #home .w1 .cover {
  width: 310px;
  height: 423px;
}
#main #home .w1 .cover a {
  width: 310px;
  height: 423px;
}
#main #home .w2 {
  width: 310px;
}
#main #home .w2 .cover {
  width: 310px;
  height: 310px;
}
#main #home .w2 .cover a {
  width: 310px;
  height: 310px;
}
#main #projeto {
  *zoom: 1;
  width: 635px;
}
#main #projeto:before,
#main #projeto:after {
  display: table;
  content: "";
  line-height: 0;
}
#main #projeto:after {
  clear: both;
}
#main #projeto h2 {
  font-size: 21px;
  float: left;
  margin: 0;
}
#main #projeto .data {
  float: left;
  font-size: 13px;
  font-family: 'motiva_sans_thinregular';
  -webkit-font-smoothing: antialiased;
  position: relative;
  top: 6px;
  left: 6px;
}
#main #projeto .social {
  float: right;
  position: relative;
  top: 4px;
  right: 2px;
}
#main #projeto #header {
  *zoom: 1;
  max-height: 29px;
}
#main #projeto #header:before,
#main #projeto #header:after {
  display: table;
  content: "";
  line-height: 0;
}
#main #projeto #header:after {
  clear: both;
}
#main #projeto #featured_img {
  clear: both;
  margin-top: 15px;
}
#main #projeto #projeto_content {
  font-size: 14px;
  line-height: 19px;
  margin-top: 3px;
  margin-bottom: 60px;
  font-family: 'motiva_sans_lightregular';
  *zoom: 1;
}
#main #projeto #projeto_content:before,
#main #projeto #projeto_content:after {
  display: table;
  content: "";
  line-height: 0;
}
#main #projeto #projeto_content:after {
  clear: both;
}
#main #projeto #projeto_content .kmp2 {
  position: relative;
  top: 50px;
}
#main #projeto #projeto_content .bndp1 {
  position: relative;
  top: 10px;
  padding-bottom: 15px;
}
#main #projeto #projeto_content .guiap1 {
  position: relative;
  top: 40px;
}
#main #projeto #projeto_content .bndp2 {
  position: relative;
  top: 40px;
}
#main #projeto #projeto_content .tumblr {
  position: relative;
  top: 40px;
}
#main #projeto #projeto_content .guiap2 {
  position: relative;
  top: 40px;
}
#main #projeto #projeto_content .bndp3 {
  position: relative;
  top: 40px;
}
#main #projeto #projeto_content .line {
  height: 1px;
  border-bottom: 1px dotted #ccc;
  width: 629px;
  margin: 10px 0;
  clear: both;
  *zoom: 1;
}
#main #projeto #projeto_content .line:before,
#main #projeto #projeto_content .line:after {
  display: table;
  content: "";
  line-height: 0;
}
#main #projeto #projeto_content .line:after {
  clear: both;
}
#main #projeto #projeto_content b {
  font-family: 'motiva_sans_boldregular';
  display: block;
  margin: 30px 0 7px;
  font-weight: normal;
}
#main #projeto #projeto_content .guiap3 {
  position: relative;
  top: 15px;
}
#main #projeto #projeto_content .bndp4 {
  position: relative;
  top: 40px;
}
#main #projeto #projeto_content img {
  margin-right: 6px;
}
#main #projeto #projeto_content .bbp1 {
  position: relative;
  top: 45px;
}
#main #projeto #projeto_content .guiap4 {
  margin: 50px 0;
}
#main #projeto #projeto_content .bndp5 {
  position: relative;
  top: 60px;
}
#main #projeto #projeto_content .bbp2 {
  margin: 25px 0 35px;
}
#main #projeto #projeto_content .bbp3 {
  position: relative;
  top: 25px;
}
#main #projeto #projeto_content .viamiaintro {
  margin: 10px 0 25px;
}
#main #projeto #projeto_content .viamiap1 {
  position: relative;
  top: 20px;
}
#main #projeto #projeto_content img.nomr {
  margin-right: 0;
}
#main #projeto #projeto_content .line:after {
  clear: both;
}
#main #projeto #projeto_content .viamiap2 {
  position: relative;
  top: 20px;
}
#main #projeto #projeto_content .alignright {
  float: right;
  margin-left: 22px;
  margin-bottom: 13px;
}
#main #projeto #projeto_content .alignleft {
  float: left;
  margin-right: 22px;
  margin-bottom: 13px;
}
#main #contact {
  font-family: 'motiva_sans_thinregular';
  -webkit-font-smoothing: antialiased;
  font-size: 25px;
  width: 630px;
}
#main #contact p {
  line-height: 46px;
  margin: 0;
}
#main #contact .myname {
  color: #bbb;
  position: relative;
  bottom: -2px;
}
#main #contact textarea:focus,
#main #contact input:focus {
  outline: 0;
}
#main #contact input {
  display: inline-block;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-bottom: 2px solid #A3DBE2;
  font-family: 'motiva_sans_thinregular';
  -webkit-font-smoothing: antialiased;
  height: 29px;
}
#main #contact input#name {
  width: 116px;
}
#main #contact input#email {
  width: 238px;
}
#main #contact input#subject {
  width: 276px;
}
#main #contact textarea {
  resize: none;
  display: inline-block;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-bottom: 2px solid #D8F0F3;
  font-family: 'motiva_sans_thinregular';
  -webkit-font-smoothing: antialiased;
  height: 33px;
  width: 611px;
  font-size: 25px;
  line-height: 27px;
  padding: 0;
  padding-top: 15px;
}
#main #contact .ops {
  border-color: #ebadad;
}
#main #contact .bottom {
  margin-top: 40px;
}
#main #contact button {
  display: block;
  width: 110px;
  padding: 3px 0;
  background-color: black;
  border: 0;
  height: 34px;
  float: left;
  font-family: 'motiva_sans_lightregular';
  -webkit-font-smoothing: antialiased;
  color: white;
  font-size: 20px;
  text-align: left;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
  *zoom: 1;
}
#main #contact button:before,
#main #contact button:after {
  display: table;
  content: "";
  line-height: 0;
}
#main #contact button:after {
  clear: both;
}
#main #contact button span {
  position: relative;
  top: 1px;
  display: block;
  float: left;
}
#main #contact button span.enviando {
  margin-left: 12px;
}
#main #contact button i {
  float: left;
  display: block;
  margin: 0 12px 0 8px;
  position: relative;
  top: 7px;
  font-size: 22px;
  line-height: 20px;
}
#main #contact button i.notext {
  top: 3px;
}
#main #contact button:hover {
  opacity: 0.7;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}
#main #contact .thanks {
  display: none;
  float: left;
  position: relative;
  left: 15px;
  top: 8px;
}
#main #contact .thanks p {
  margin: 0;
  font-size: 20px;
  color: #2eadbe;
  line-height: 20px;
}
#main #contact .validation {
  display: none;
  clear: both;
  color: #cc3333;
  font-size: 20px;
  padding-top: 1px;
  font-size: 18px;
}
#main #contact .validation p {
  margin-top: 12px;
}
#main #resume {
  font-size: 12px;
  padding-bottom: 60px;
  width: 630px;
}
#main #resume .top .img {
  width: 273px;
  height: 310px;
  background-image: url(images/caio.jpg);
  background-position: center;
  background-repeat: no-repeat;
  float: left;
}
#main #resume .top .text {
  float: left;
  padding: 140px 0 10px 25px;
}
#main #resume .top .text i {
  display: inline-block;
  margin: 3px 4px 0 0;
  font-size: 20px;
  color: #2eadbe;
}
#main #resume .middle {
  clear: both;
  padding-top: 40px;
}
#main #resume .middle h2 {
  font-size: 12px;
  font-weight: normal;
  font-family: 'motiva_sans_boldregular';
  margin-top: 30px;
  margin-bottom: 7px;
}
#main #resume .middle p {
  font-size: 13px;
  margin: 5px 0;
}
#fly {
  width: 47px;
  height: 46px;
  position: fixed;
  bottom: 13px;
  right: 13px;
  background-color: black;
  cursor: pointer;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}
#fly:hover {
  opacity: 0.8;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}
#fly a {
  position: absolute;
  width: 46px;
  height: 46px;
}
#fly i {
  color: white;
  font-size: 24px;
  position: relative;
  top: 9px;
  left: 12px;
  cursor: pointer;
}
.touch #fly {
  display: none;
}
