/**
 * Doutor Ja theme for dropkick
 */

// General

/* Container */
.dk_container.dk_theme_bnd {
	background: transparent;
	font-size: 11px;
	margin-bottom: 9px;
	float: none;
	font-family: 'open_sansregular';
	text-transform: uppercase;
	outline: none;
	-webkit-font-smoothing: antialiased;
	font-weight: normal;
}
  .dk_theme_bnd a {
  	outline: none;
  }

/* Toggle */
.dk_theme_bnd .dk_toggle {
	width: 165px !important;
	background-image: url('images/dk_arrow_down.png');
	background-repeat: no-repeat;
	background-position: right;
	background-color: white;
	border: 1px solid #a8a3aa;
	padding: 7px 45px 8px 9px;
	.border-radius(4px);
	text-shadow: none;
	outline: none;

	.dk_label {
		outline: none;
		color: #a8a3aa;

		&:hover {
			color: #555;
		}
	}
}
  .dk_theme_bnd .dk_toggle:hover {
  	outline: none;
  	color: #555;
  }

/* Focus State */
.dk_theme_bnd.dk_focus,
.dk_theme_bnd:focus {
	outline: none;
}
  .dk_theme_bnd.dk_focus .dk_toggle {
  	outline: none;
  }
  
/* Open State */
.dk_theme_bnd.dk_open {
	.box-shadow(~'none');
	outline: none;
}
  .dk_theme_bnd.dk_open .dk_toggle {
  	.box-shadow(~'none');
  	outline: none;
  }

/* Options Menu */
.dk_theme_bnd .dk_options {
	margin-top: -3px;
	border: 1px solid #a8a3aa;
	background-color: white;
	width: 219px;
	.border-radius(0 0 4px 4px);
	outline: none;
}
  .dk_theme_bnd .dk_options a {
  	background: transparent;
  	border: 0;
  	text-shadow: none;
  	padding: 8px 10px 5px;
  	color: #a8a3aa;
  	outline: none;
  }
  .dk_theme_bnd .dk_options a:hover,
  .dk_theme_bnd .dk_option_current a {
  	color: #555;
  	outline: none;
  }

/* Inner options */
.dk_theme_bnd .dk_options_inner {
	border: 0;
	margin: 0;
	outline: none;
}

/* Set a width property here */
.dk_theme_bnd .dk_options_inner,
.dk_theme_bnd.dk_touch .dk_options {
	outline: none;
}